
.main-div{
    display:grid;
    grid-template-columns: 65%  ;
    grid-template-rows: 750px 750px 750px ;

    justify-content: center;
    align-content: center;
   /* border:5px solid pink;*/
    
}
.p1{
    color:whitesmoke;
    font-weight: 400;
    
    
}
.p2{
    
    color:whitesmoke;
    font-weight: 400;
}
 
h1{
    color:#FFD700;
    font-size: 50px; 
}
h2{
    color:#FFD700;
    font-size: 50px;
}
h3{
    color:#FFD700;
    font-size: 50px;
}
footer{
    color:rgb(247, 245, 245);
   
    text-align: center;
    position:fixed;
    bottom:0px;
    right:0px;
    left:0px;
    font-weight: 700;
}
.mini-panel{
    background-color: hsl(0, 0%, 5%,0.5);
    border-top:5px solid #FFD700;
    border-bottom:5px solid #FFD700;


    padding-top:10px;
    padding-bottom:10px;
  
   position:fixed;
   
   width:100%;
   height:60px;
   top:0px;
   right:0px;
   left:0px;

}
.div1{
    grid-column-start:1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 250px;
    margin-bottom:100px;
    
    
    transition: transform 0.3s ease;
    transform-origin: center;
    

}
.div2{
    grid-column-start:1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
   
    margin-bottom: 350px;
    
    
    
    transition: transform 0.3s ease;
    transform-origin: center;
}

.recommdiv{
    
   margin-top:300px;
    grid-column-start:1;
    grid-column-end: 2;

    grid-row-start: 5;
    grid-row-end: 6;
    

    display:grid;
    justify-content: center;
    align-content: center;
    column-gap: 70px;
    row-gap: 40px;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows:250px 250px ;
    
    
   margin-bottom: 250px;

    transform-origin: center;
    transition: transform 0.3 ease;
}
.inDiv1,.inDiv2, .inDiv3, .inDiv4, .inDiv5, .inDiv6{
    color:#FFD700;
    font-weight: 800;

}


h1,p,h2,footer{
    font-family: "Poppins", sans-serif;

    font-style: normal;
    
  }
body{
    /*background-image: url(./assets/195228-2560x1600-desktop-hd-motorcycle-background.jpg);
    background-position:center;
    background-size:cover;*/
    background-color: black;
}
.flag{
    width:2.5%;
    position:absolute; 
    cursor: pointer; 
}
.login{
    position:absolute;
    width:7.5%;
    right:60px;
   
}
.eng{
    right:10px;
    bottom:0px;
}
.tr{
    right:10px;
    top:0px;
    
}



@media (max-width: 600px) {/*do not forget to change 480*/
footer{
    font-size:x-small;
}
.mini-panel{
    height:30px;

}
.flag{
    right:5px;
    width:6%;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 20px;
}
.p1,.p2{font-weight:200 ;
}
.main-div{
    grid-template-columns: 50%;
    grid-template-rows:25% 35%;
}

}

@media (min-width: 481px) and (max-width: 768px) {
    footer{
        font-size:smaller;
    }
}


