body{
    margin-bottom:2500px;
}

.p1{
    color:whitesmoke;
    font-weight: 200;
    
    
}
.p2{
    
    color:whitesmoke;
}
 
h1{
    color:whitesmoke;
    font-size: 50px; 
}
h2{
    color:whitesmoke;
}
footer{
    color:rgb(247, 245, 245);
    clear:both;
    text-align: right;
    position:fixed;
    bottom:0px;
    font-weight: 700;
}

.div1{
    float:left;
    width:20%;


    position:relative;
    left: 200px;
    top:75px;


}
.div2{
    float:left;
    width:20%;

    position:relative;
    left: 600px;
    top:250px;

}
h1,p,h2,footer{
    font-family: "Poppins", sans-serif;

    font-style: normal;
    
  }
body{
    background-image: url(./assets/195228-2560x1600-desktop-hd-motorcycle-background.jpg);
    background-position:center;
    background-size:cover;
}


@media (max-width: 600px) {


    .div1, .div2 {
        float: none; /* Float'ı kaldır */
        width: 50%; /* Genişliği artır */
        margin: 0 auto; /* Ortala */
        position: relative; /* Pozisyonu ayarla */
         /* Yüksekliği sıfırla */
    }

    .div1 {
        margin-bottom: 75px; /* Divler arasında boşluk ekle */
        left:5px;
        top:25px;
    }
    .div2{
        left:5px;
    }

    h1 {
        font-size: 30px; /* Başlık boyutunu küçült */
    }

    footer {
        font-size: 14px; /* Footer yazı boyutunu küçült */
        text-align: center; /* Ortala */
    }
}

